<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Wear OS versiyonu -->
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />
    
    <application>
        <!-- Wear OS standalone mode -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
    </application>
</manifest>